// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Poppins', sans-serif;

$primary-color: #071a84;
$secondary-color: #f8fafe;

/* make the customizations */
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
  input[disabled],
  select[disabled],
  textarea[disabled] {
    background-color: rgba(231, 238, 247, 0.384) !important;
  }
  .btn {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .btn-primary {
    background-color: $primary-color;
    color: white;
    &:hover {
      background-color: #0921a9df;
    }
  }
  .btn-light {
    background-color: #fff;
    color: #000;
  }
  .Home {
    .left-side {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      min-height: 100vh;
    }

    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      .title {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        color: $primary-color;
      }
      .inputField {
        max-width: 400px;
        text-align: center;
      }
      button {
        min-width: 200px;
        margin: 0 10px;
      }
    }

    @media (max-width: 768px) {
      & {
        padding: 10px;
      }
      .left-side {
        display: none;
      }
      .right-side {
        justify-content: flex-start;
        margin-top: 50px;
      }
    }
  }

  .Register {
    min-height: 100vh;
    background-image: linear-gradient(90deg, #071a84, #314dea);
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      min-height: 50vh;
      max-width: 756px;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      .title {
        font-size: 30px;
        font-weight: 700;
        color: $primary-color;
      }
    }
  }
  footer {
    padding: 30px 0;
    color: $primary-color;
    text-align: center !important;
    width: 100% !important;
    background-color: $secondary-color;
  }
  .Dashboard {
    background-color: $secondary-color;
    min-height: 100vh;
    padding-top: 50px;
    .card {
      border-radius: 10px;
      border: none;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .heading {
      font-size: 16px !important;
      font-weight: bold !important;
      margin-left: 10px !important;
      .message {
        font-size: 12px !important;
        color: rgba(3, 11, 71, 0.47);
      }
    }
    .navbar {
      background-color: #fff;
      border-bottom: 0.5px solid #d8d8d8;
      .title {
        font-size: 22px !important;
        color: $primary-color !important;
        font-weight: 600;
      }
      .nav-link {
        font-size: 14px;
        padding: 10px 20px;
        color: rgb(184, 183, 183);
        &:active,
        &:focus {
          color: $primary-color !important;
        }
        &:hover {
          color: gray !important;
        }
      }
    }

    // profile page
    .profile {
      margin-top: 50px;
      .sub-heading {
        font-size: 16px;
        font-weight: bold;
        color: $primary-color;
      }
      .profile-banner {
        margin-bottom: 30px;
        .profileImage {
          width: 100px;
          height: 100px;
          border-radius: 10px;
          margin: 0 10px;
        }
        button {
          min-width: 150px !important;
          border-radius: 25px;
          margin: 10px;
        }
      }
      .personal-details,
      .Projects {
        margin-top: 50px;
        .label {
          color: $primary-color;
        }
      }
      .educational-details {
        margin-top: 50px;
      }
      .Skills {
        margin-top: 50px;
        .softSkill {
          display: flex;
          border: 1px solid #dfdfdf;
          padding: 5px;
          p {
            width: 85%;
            font-size: 1rem;
            align-items: center;
            margin-left: 10px;
            margin-top: 15px;
          }
        }
        .skill {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-top: 10px;
          .skillVal {
            max-width: 120px;
          }
        }
      }
      .SocialMedia,
      .Hobbies {
        margin-top: 50px;
        .linkField {
          margin: 10px 0;
          i {
            margin-right: 10px;
          }
        }
      }
    }

    // updates
    .Notifications {
      padding-top: 50px;
      .notifier {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #fff;
        min-height: 80px;
        border-radius: 10px;
        margin: 20px 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .notifier-typo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 80px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        .notifier-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin: 0 20px;
          .title {
            font-size: 14px;
            font-weight: 600;
          }
          .description {
            font-family: "Nunito Sans", sans-serif;
          }
        }
      }
    }

    .Home {
      padding-top: 50px;
      a {
        text-decoration: none;
      }
      .header {
        padding: 0 10px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          color: gray;
          margin: 0;
        }
        .name {
          font-size: 18px;
          color: $primary-color;
          margin: 0 auto;
        }
        button {
          border-radius: 25px;
          font-size: 14px;
          padding: 5px 10px;
          min-width: 130px;
          background-color: $primary-color;
          font-family: "Nunito Sans", sans-serif;
        }
      }
    }

    .Internships {
      margin-top: 50px;
    }
    .Certifications {
      margin-top: 50px;
    }
    .Achievements {
      margin-top: 50px;
    }
  }

  // view profile
  .view-profile {
    background-color: $secondary-color;
    min-height: 100vh;
    .left-side {
      background-color: #414141;
      min-height: 100vh;
      color: #fff;
      padding: 40px;
      .links {
        margin-top: 30px;
        p {
          margin: 0;
          // font-weight: bold;
        }
        a {
          color: #cdc9c9;
          text-decoration: none;
          font-size: 12px;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellips;
        }
      }
    }
    .right-side {
      padding: 40px;
      .title {
        font-family: "Bebas Neue", cursive;
        font-size: 32px;
        color: #414141;
        margin:0;
      }
    }
  }

  //page no found
  .page-not-found {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: bold;
      font-size: 30px;
      font-family: "Nunito Sans", sans-serif;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");
