@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap");

$primary-color: #071a84;
body {
  font-family: "Poppins", sans-serif;
}

.Home {
  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    min-height: 100vh;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    .title {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
      color: $primary-color;
    }
    .inputField {
      max-width: 400px;
      text-align: center;
    }
    button{
      min-width: 200px;
      margin: 0 10px;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 10px;
    }
    .left-side {
      display: none;
    }
    .right-side {
      justify-content: flex-start;
      margin-top: 50px;
    }
  }
}

.Register {
  min-height: 100vh;
  background-image: linear-gradient(90deg, #071a84, #314dea);
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    min-height: 50vh;
    max-width: 756px;
    width:100%;
    padding: 10px;
    border-radius: 10px;
    .title {
      font-size: 30px;
      font-weight: 700;
      color: $primary-color;
    }
      // .col {
      //   margin:20px 0;
      // }
  }
}
